body {
    font-family: 'Raleway';

}


.full-page-top {
    display: flex;
    /* font-family: 'raleway'; */


}

.top-div {
    Width: 1080px;
    Height: 792px;
    border-radius: 20px;
    margin: auto;
    background-color: #ECF0EF;

}

.top-div h2 {
    color: #363636;
    text-align: center;
    font-size: 60px;
    font-family: Raleway;
    font-weight: 600;
}

.top-div p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 166.7%;
    margin-top: -30px;
}

.top-div span {
    color: #6E9E76;
}

.top-body {
    width: 950px;
    height: 500px;
    border-radius: 20px;
    background: rgba(33, 67, 39, 0.13);
    margin: auto;

}

.top-story {
    display: flex;
    justify-content: center;
    /* margin: 30px; */
}




.true-div {
    margin-left: 10px;
    margin-top: 7px;
}

.true-div h4 {
    color: rgba(242, 81, 86, 0.80);
    font-size: 40px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 138.2%;
    left: 0;
}


.story-div {
    margin-top: 90px;
    /* margin-right: auto; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400px;
    font-size: 50px;
    text-align: left;
    margin-left: 40px;
}

.story-div p {
    color: #5F4B4B;
    font-size: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 138.2%;
    text-align: left;
}

.shot {
    display: flex;
    height: 30px;
    padding: 7px 23px 8px 30px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shot p {
    font-size: 13px;
    margin: auto;
    font-family: 'Raleway';
    font-size: 18px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
}

.core- {
    display: flex;
}

.core- h1 {
    color: #363636;
    text-align: center;
    font-size: 60px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 138.2%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.core {
    width: 100%;
    height: 523px;
    background: #8ACCA9;
}

.core-div {
    display: flex;
    margin-top: 0;
    padding-top: 0;
    height: 50px;
    padding-bottom: 10px;


}

.core-div h4 {
    color: #363636;
    font-size: 25px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 138.2%;
    margin: auto;
    margin-top: 40px;
}

.box-img {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    margin-top: 40px;
}

.img {
    width: 300px;
    height: 285px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.img p {
    color: #FFF;
    font-size: 15px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: 162.7%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.img-text {
    display: flex;
    height: 30px;
    padding: 7px 23px 8px 30px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-text p {
    font-size: 13px;
    margin: auto;
    font-family: 'Raleway';
    font-size: 18px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
}

.our-people {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}

.our-people h1 {
    color: #363636;
    text-align: center;
    font-size: 60px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 138.2%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.our-people-page {
    position: absolute;
    width: 1440px;
    height: 492px;
    background-color: #ECF0EF;

}

.our-people-story {


    width: 600px;
    height: 492px;

    margin: auto;

    background: #D1DAD5;
    border: 1px solid black;
}

.our-people-story {
    display: flex;
    flex-direction: row;
    margin: auto;

}

.body-img {
    width: 100%;
    background-color: #ECF0EF;
    padding: 30px;
}

.first-img- {
    width: 1100px;
    padding: 30px;
    margin: auto;
    background-color: #D1DAD5;


}

.first-img {
    margin-top: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;


}

.box-pic {
    margin-top: 60px;
    width: 250px;
    margin-left: 110px;
    height: 280px;
    margin-bottom: 50px;
    display: flex;
    background-color: white;
    border-radius: 10px;

    border: 8px solid #f1cf6c;
}

.box-pic img{
    width: 80%;
}

.name-lable {
    width: 250px;
    height: 60px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    position: absolute;
    align-self: flex-end;
    margin-top: -60px;
    margin-left: 140px;
    background-color: #FFFFFF;


}

.name-lable p {
    font-size: 14px;
    font-weight: 100;
    margin-top: 0;
    padding-top: 0;
    top: 0;
    text-align: center;
    line-height: 2px;
    font-family: 'Raleway';

}

.name-lable h3 {
    font-size: 18px;
    margin-top: 5px;
    padding-top: 0;
    top: auto;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
    font-family: 'Raleway';

}

.full-name {
    width: 80px;
    height: 20px;
    margin-left: 50px;
    align-items: flex-end;
    border: 1px solid black;
}

.text-img- {
    height: 300px;
    text-align: right;
    margin-right: 130px;
    margin-top: 30px;

}

.text-img- h4 {
    color: #052865;
    text-align: right;
    font-size: 25px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 157.2%;
    width: 600px;
}

.text-img- h5 {
    color: rgba(242, 81, 86, 0.80);
    text-align: right;
    font-size: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    line-height: 157.2%;
}

.all-img {
    display: flex;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
}

.all-img img {
    margin-top: 0;
    padding-top: 0;
    line-height: 2px;
}


.pic {
    margin: 20px;
    width: 150px;
    height: 130px;
}

.pic :hover {
    border: 1px solid black;
    border-radius: 10px;
    border-bottom: 0;

}

.heard {
    width: 980px;
    height: 6px;
    border: 1px;
    border-radius: 6px;
    margin-left: 60px;
    margin-top: 21px;
    background-color: #EEE9E9;
    ;


    /* justify-content: center; */

}

.heard-body {
    width: 270px;
    height: 6px;
    border-radius: 6px;
    background-color: #6E9E76;

}